body {
    line-height: 1.5;
}
.container{
    max-width: 70rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.d-flex{
    display: flex;
}
.flex-auto{
    flex: auto;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.item-center{
    align-items: center;
}
.fd-column{
    flex-direction: column;
}
.fd-row{
    flex-direction: row;
}
.content-between{
    justify-content: space-between;
}

.bg-light-gray{
    background: #F3F4F6;
}
.btn-pad{
    display: inline-block;
    box-sizing: border-box;
}
.h-100{
    height: 100%;
}
.w-67{
    width: 67%;
}
.margin-1{
    margin: 10px;
}
.margin-auto{
    margin: 0 auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mb-1{
    margin-bottom: 1rem;
}
.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

header{
    padding: 10px;
}
a{
    text-decoration: none;
    color: inherit;
}
input, button{
    height: 0.5em;
}
.h1{
    font-size: 60px;
}
.h2{
    font-size: 35px;
}
.h3{
    font-size: 25px;
}
.h4{
    font-size: 40px;
}
.h5{
    font-size: 20px;
}
.gray{
    color: #949EB2;
}
.red{
    color: #DE3F1C;
}
.bold{
    font-weight: 700;
}
.text-center{
    text-align: center;
}
.center-xy{
    align-items: center;
    display: grid;
    justify-content: center;
}
